@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.login {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    text-align: center;

    &__link {
        color: $main-site;
        text-decoration: underline;
    }
}